<div class="container">
  <% @exams.each do |exam| %>
    <h3><%= exam.title %></h3>
    <% @departments.each do |department| %>
      <% registrations = exam.registrations.where(department_id: department.id).order(score: :desc) %>
      <% unless registrations.empty? %>
        <h4><%= department.name %></h4>
        <div class="table-responsive">
          <table class="table table-bordered table-striped table-hover">
            <thead class="thead-bg cream">
              <tr>
                <th scope="col">Rank</th>
                <th scope="col">User</th>
                <th scope="col">Score</th>
              </tr>
            </thead>
            <tbody>
              <% registrations.each.with_index(1) do |registration, index| %>
                <tr>
                  <td><%= index %></td>
                  <td><%= registration.user.name %></td>
                  <td><%= registration.score %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>