<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <p class="text-center">New to the platform? <%= link_to 'Sign up here!', new_user_path %></p>
      <%= form_with model: @user, class: "shadow p-3 mb-3 rounded", url: login_path, method: :post do |f| %>
        <div class="form-group row">
          <%= f.label :email, class: "col-3 col-form-label text-light" %>
          <div class="col-9"> 
            <%= f.email_field :email, class: "form-control rounded-pill", placeholder: "Enter your email address" %>
          </div>
        </div><br/>

        <div class="form-group row">
          <%= f.label :password, class: "col-3 col-form-label text-light" %>
          <div class="col-9"> 
            <%= f.password_field :password, class: "form-control rounded-pill", placeholder: "Enter Password" %>
          </div>
        </div><br/>

        <div class="form-group row justify-content-center">
          <%= f.submit "Login", class: "btn btn-primary rounded-pill" %>
        </div>
      <% end %>
    </div>
  </div>
</div>