<div class="container">
<%= form_tag calculate_score_registration_path(@registration), method: :patch do %>
  <%= hidden_field_tag 'exam_id', @registration.exam_id %>
  <%= hidden_field_tag 'score', @registration.score %>
  <% @questions.shuffle.each do |question| %>
    <p><%= question.question %></p>
    <ul>
      <% [question.option_1, question.option_2, question.option_3].shuffle.each do |option| %>
        <li><%= radio_button_tag "answers[#{question.id}]", option, false %> <%= option %></li>
      <% end %>
    </ul>
  <% end %>
  <%= submit_tag "Submit Exam" %>
<% end %>
</div>
