<% if @registration %>
  <p>
    <strong>User:</strong>
    <%= @registration.user.name %>
  </p>

  <p>
    <strong>Exam:</strong>
    <%= @registration.exam.title %>
  </p>
  <p>
    <strong>Score:</strong>
    <%= @registration.score %>
  </p>
<% else %>
  <p>Registration not found</p>
<% end %>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>