<div class="container">
  <% if @exam_groups.any? { |exam, registrations| registrations.any?(&:score) } %>
    <% @exam_groups.each do |exam, registrations| %>
      <% if registrations.any?(&:score) %>
        <div class="card mt-4">
          <div class="card-body">
            <h3 class="card-title"><%= exam.title %></h3>
            <p class="card-text">Your score: <%= registrations.sum(&:score) %></p>
            <p class="card-text">Average score: <%= exam.registrations.average(:score) %></p>
            <p class="card-text">Highest score: <%= exam.registrations.maximum(:score) %></p>
            <% user_registration = Registration.find_by(user_id: current_user.id) %>
            <% rel_registrations = Registration.where(exam_id: user_registration.exam_id).where.not(score: nil) %>
            <% overall_rank = rel_registrations.where.not(score: nil).where('score > ?', user_registration.score).count + 1 %>
            <% college_rank = rel_registrations.joins(:user).where(users: { college_id: current_user.college_id }).where.not(score: nil).where('score > ?', user_registration.score).count + 1 %>
            <p class="card-text">Overall rank: <%= overall_rank %></p>
            <p class="card-text">College rank: <%= college_rank %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <p>No exam scores available.</p>
  <% end %>
</div>