<div class="container">
  <div class="card mt-2">
    <div class="card-header">
      <h2>College List</h2>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @colleges.each do |college| %>
            <tr>
              <td><%= college.name %></td>
              <td><%= link_to 'Edit', edit_college_path(college), class: 'btn btn-sm btn-primary' %></td>
              <td><%= button_to 'Destroy', college, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger', onclick: 'confirmDelete(event)' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card mt-4">
  <%= render 'shared/formerrors', model: @college %>
    <div class="card-header">
      <h2>Add College</h2>
    </div>
    <div class="card-body">
      <%= form_with(model: @college, url: colleges_path, local: true) do |form| %>
        <div class="form-group">
          <%= form.label :name %>
          <%= form.text_field :name, class: 'form-control' %>
        </div>

        <div class="form-group my-2">
          <%= form.submit 'Save', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>