<div class="container">
  <div class="card mt-2">
    <div class="card-header">
      <h2>College List</h2>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @colleges.each do |college| %>
            <tr>
              <td><%= college.name %></td>
              <td><%= link_to 'Edit', edit_college_path(college), class: 'btn btn-sm btn-primary' %></td>
              <td><%= button_to 'Destroy', college, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger', onclick: 'confirmDelete(event)' %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <button class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#addCollegeModal">Add College</button>
    </div>
  </div>

  <div class="modal fade" id="addCollegeModal" tabindex="-1" aria-labelledby="addCollegeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addCollegeModalLabel">Add College</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= form_with(model: @college, url: colleges_path, local: true, id: 'newCollegeForm') do |form| %>
            <%= render 'shared/formerrors', model: @college %>
            <div class="form-group">
              <%= form.label :name %>
              <%= form.text_field :name, class: 'form-control', required: true %>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>