<br/>
<div class="container">
<div class="card bg-cream mb-3">
  <div class="card-body">
    <h1 class="card-title">Exam Details</h1>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>No. of Questions</th>
          <th>Duration (mins)</th>
          <th>Start Time</th>
        </tr>
      </thead>
      <tbody>
        <% @exams.each do |exam| %>
            <tr>
              <td><%= exam.title %></td>
              <td><%= exam.questions.count %></td>
              <td><%= exam.duration %></td>
              <td><%= exam.start_time.strftime("%m/%d/%Y %I:%M%p") %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
    <%= link_to 'Register For Exam', new_registration_path, class: "btn btn-outline-success" %>
  </div>
</div>
</div>