<div class="container">
  <h2 class="text-center mt-4 mb-4">List of Exams</h2>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="thead-cream">
        <tr>
          <th scope="col">Department</th>
          <th scope="col">Title</th>
          <th scope="col">Start Date</th>
          <th scope="col">Duration (mins)</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @exams.each do |exam| %>
          <tr>
            <td><%= exam.department.name %></td>
            <td><%= exam.title %></td>
            <td><%= exam.start_time.in_time_zone('New Delhi').strftime('%B %d, %Y - %I:%M %p') %></td>
            <td><%= exam.duration %></td>
            <td>
              <div class="d-flex">
                <%= link_to '<i class="fas fa-eye"></i> View'.html_safe, exam_path(exam), class: "btn btn-secondary btn-sm me-2" %>
                <%= link_to '<i class="fas fa-edit"></i> Edit'.html_safe, edit_exam_path(exam), class: "btn btn-primary btn-sm me-2" %>
                <%= button_to '<i class="fas fa-trash"></i> Delete'.html_safe, exam, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="text-center">
    <%= link_to '<i class="fas fa-plus"></i> Add New Exam'.html_safe, new_exam_path, class: "btn btn-success btn-lg mt-4" %>
  </div>
</div>