<div class="container">
 <h2> List of Exams</h2><br/>
 
 <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Title</th>
        <th scope="col">Start Date</th>
        <th scope="col">Duration (mins)</th>
        <th colspan=2>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @exams.each do |exam| %>
        <tr>
          <td><%= exam.id %></td>
          <td><%= exam.title %></td>
          <td><%= exam.start_time %></td>
          <td><%= exam.duration %></td>
          <td><%= link_to 'Edit', edit_exam_path(exam), class: "btn btn-outline-success" %></td>
          <td><%= link_to 'View', exam_path(exam), method: :delete, class: "btn btn-outline-success" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
 <%= link_to ' Add New Exam', new_exam_path, class: "btn btn-outline-success" %>


</div>