<main role="main" class="container">
  <div class="card">
    <div class="card-header">
      <h3>Exam Details</h3>
    </div>
    <div class="card-body">
      <p class="card-text">
        <b>Title:</b> <%= @exam.title %>
      </p>
      <p class="card-text">
        <b>Start Time:</b> <%= @exam.start_time %>
      </p>
      <p class="card-text">
        <b>Duration(mins):</b> <%= @exam.duration %>
      </p>
    </div>
  </div>
  <div class="card mt-3">
    <div class="card-header">
      <h3>Questions</h3>
    </div>
    <div class="card-body">
      <table class="table table-sm">
        <thead>
          <tr>
            <th scope="col">Question</th>
            <th scope="col">Answer</th>
            <th scope="col">Option 1</th>
            <th scope="col">Option 2</th>
            <th scope="col">Option 3</th>
          </tr>
        </thead>
        <tbody>
          <% @exam.questions.shuffle.each do |question| %>
            <tr>
              <td><%= question.question %></td>
              <td><%= question.answer %></td>
              <% options = [question.option_1, question.option_2, question.option_3].shuffle %>
              <td><%= options[0] %></td>
              <td><%= options[1] %></td>
              <td><%= options[2] %></td>
              <td><%= link_to 'Edit', edit_exam_question_path(@exam, question), class: "btn btn-sm btn-primary" %></td>
              <td><%= button_to 'Delete', exam_question_path(@exam, question), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="d-flex justify-content-between mt-3">
    <%= link_to 'Edit Exam', edit_exam_path(@exam), class: "btn btn-primary" %>
    <%= link_to 'Back', exams_path, class: "btn btn-secondary" %>
    <%= link_to 'Add New Question', new_exam_question_path(@exam), class: "btn btn-success" %>
  </div><br/>
</main><!-- /.container -->